*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  background-color: black;
  color: white;
  background: url('bg2.png') center no-repeat;
  background-size: 105%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Circular Book';
  src: url('CircularStd-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular Medium';
  src: url('CircularStd-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'League Gothic';
  src: url('leaguegothic-regular.ttf') format('truetype');
}

h1 {
  font-family: 'League Gothic';
  font-size: 56px;
  letter-spacing: 4px;
  margin: 16px 0;
}

h2 {
  font-family: 'Circular Book';
  font-size: 13px;
  letter-spacing: 1px;
  color: rgba(255,255,255,0.6);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: 'Circular Medium';
  text-align: center;
}

hr {
  width: 30px;
  margin-bottom: 50px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.logo {
  width: 165px;
}

.main-info {
  text-transform: uppercase;
  width: 645px;
  margin: 70px auto 0 auto;
  text-align: center;
}

.bottom-info {
  display: flex;
  justify-content: space-between;
  width: 320px;
  margin: 80px auto 0 auto;
  opacity: 0.6;
  text-align: center;
}

.email-box {
  background-color: #ffffff2e;
  width: 320px;
  height: 44px;
  padding: 0;
  border: 0;
}

.sign-up {
  height: 44px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  border: 0;
  padding: 0 20px;
}

.mailing-list-box {
  display: flex;
  justify-content: center;
}
