html, body {
  background-color: black;
  color: white;
}

@font-face {
  font-family: 'Circular Book';
  src: url('CircularStd-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular Medium';
  src: url('CircularStd-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'League Gothic';
  src: url('leaguegothic-regular.ttf') format('truetype');
}

h1 {
  font-family: 'League Gothic';
  font-size: 56px;
  letter-spacing: 4px;
}

h2 {
  font-family: 'Circular Book';
  font-size: 16px;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: 'Circular Medium';
}

hr {
  margin-right: 80%;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.logo {
  width: 165px;
}

.main-info {
  background-color: red;
  text-transform: uppercase;
}
